.nav_ios {
    display: flex;
    justify-content: start;
    align-items: center;
    div {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        &:nth-child(1) {
            background-color: #ff0303;
        }
        &:nth-child(2) {
            background-color: #fce22a;
            margin: 0 0.5rem;
        }
        &:nth-child(3) {
            background-color: #03c988;
        }
    }
}
.list_number-line {
    position: absolute;
    left: 0.5rem;
    top: 5rem;
    bottom: 1rem;
    height: calc(100% - 4rem);
    overflow: hidden;

    div {
        font-size: 1.75rem;
        height: 2rem;
        margin-bottom: 1rem;
        color: #ccc;
    }
}

.text_about {
    position: absolute;
    top: 5rem;
    left: 3rem;

    .typed-animation-2 {
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 3rem;
            left: 0;
            right: 0;
            height: 30rem;
            background-color: var(--bg-primary);
        }

        h1 {
            font-size: 1.4rem;
            color: #fff;
        }

        .typed-out-2 {
            overflow: hidden;
            white-space: nowrap;
            height: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        span {
            font-size: 1.4rem;
            color: #b32774;
        }

        @keyframes jump {
            0% {
                height: 3rem;
            }

            100% {
                height: var(--sum-height);
            }
        }
        @keyframes typing2 {
            0% {
                width: 0;
                opacity: 1;
                border-right: 0.25rem solid #fff;
            }

            100% {
                width: 100%;
                opacity: 1;
                border-right: 0.25rem solid #fff;
            }
        }
    }
}
.about-image {
    position: relative;
    --x: 100px;
    --y: 100px;
    .img {
        transition: 0.3s;
        &:hover {
            width: 150% !important;
        }
    }

    .img-zoom {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}
